# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CTRLevelEditor.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\CTRLevelEditor\.idea\.idea.CTRLevelEditor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
